<div style="display: flex; flex-direction: column; width: 90%; height: 100%;">

    <div class="markdown-body" style="text-align: center; padding: 2rem; font-size: x-large; font-weight: 600;">Wireframes</div>
    <div style="display: flex; flex-wrap: wrap; height: auto; gap: 1rem; align-items: flex-start;">
        <img src="asset/block/design/wireframe_landingpage.svg" style="width: 45%;"/>
        <img src="asset/block/design/wireframe_mockinterview.svg" style="width: 45%;"/>
        <img src="asset/block/design/wireframe_transcriptsummary.svg" style="width: 45%;"/>
        <img src="asset/block/design/wireframe_category.svg" style="width: 45%;"/>
        <img src="asset/block/design/wireframe_document.svg" style="width: 45%;"/>
        <img src="asset/block/design/wireframe_summarytab.svg" style="width: 10%;"/>
        <img src="asset/block/design/wireframe_versionhistory.svg" style="width: 10%;"/>
    </div>

    <div class="markdown-body" style="text-align: center; padding: 2rem; font-size: x-large; font-weight: 600;">Color Schematics</div>
    <div style="display: flex; flex-wrap: wrap; height: auto; gap: 1rem; align-items: flex-start;">
        <img src="asset/block/design/color_white.svg" style="width: 45%;"/>
        <img src="asset/block/design/color_black.svg" style="width: 45%;"/>
        <img src="asset/block/design/color_brand.svg" style="width: 25%;"/>
    </div>

    <div class="markdown-body" style="text-align: center; padding: 2rem; font-size: x-large; font-weight: 600;">Typography</div>
    <div style="display: flex; flex-wrap: wrap; height: auto; gap: 1rem; align-items: flex-start;">
        <div style="width: 100%; color: var(--text-text-primary, #1D2935); font-size: 32px; font-family: Sansita; font-weight: 400; text-transform: uppercase; word-wrap: break-word">Brand</div>
        <div style="width: 100%; color: var(--text-text-primary, #1D2935); font-size: 24px; font-family: Sansita; font-weight: 700; text-transform: capitalize; word-wrap: break-word">title-large</div>
        <div style="width: 100%; color: var(--text-text-primary, #1D2935); font-size: 20px; font-family: Sansita; font-weight: 400; text-transform: capitalize; word-wrap: break-word">title-medium</div>
        <div style="width: 100%; color: var(--text-text-primary, #1D2935); font-size: 16px; font-family: Sansita; font-weight: 400; text-transform: capitalize; word-wrap: break-word">title-base</div>
        <div style="width: 100%; color: var(--text-text-primary, #1D2935); font-size: 12px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.</div>
        <div style="width: 100%; color: var(--text-text-primary, #1D2935); font-size: 10px; font-family: DM Sans; font-weight: 400; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.</div>
    </div>
    
    <div class="markdown-body" style="text-align: center; padding: 2rem; font-size: x-large; font-weight: 600;">Animations</div>
    <div style="display: flex; flex-direction: row; gap: 1rem;">
        <img src="asset/block/design/animation_panel.svg" style="width: 25%;"/>
        <div style="display: flex; flex-wrap: wrap; height: auto; gap: 1rem; align-items: flex-start;">
            <img src="asset/block/design/animation_copy.svg" style="width: 25%;"/>
            <img src="asset/block/design/animation_edit.svg" style="width: 25%;"/>
            <img src="asset/block/design/animation_CTA.svg" style="width: 25%;"/>
            <img src="asset/block/design/animation_panelopen.svg" style="width: 25%;"/>
            <img src="asset/block/design/animation_panelclose.svg" style="width: 25%;"/>
            <img src="asset/block/design/animation_history.svg" style="width: 25%;"/>
            <img src="asset/block/design/animation_import.svg" style="width: 25%;"/>
            <img src="asset/block/design/animation_send.svg" style="width: 25%;"/>
            <img src="asset/block/design/animation_profile.svg" style="width: 25%;"/>
        </div>
    </div>

    <div class="markdown-body" style="text-align: center; padding: 2rem; font-size: x-large; font-weight: 600;">Mockups</div>
    <div style="display: flex; flex-wrap: wrap; height: auto; gap: 1rem; align-items: flex-start;">
        <img src="asset/block/design/mockup_landingpage_light.svg" style="width: 48%;"/>
        <img src="asset/block/design/mockup_landingpage_dark.svg" style="width: 48%;"/>
        <img src="asset/block/design/mockup_mockinterview_light.svg" style="width: 48%;"/>
        <img src="asset/block/design/mockup_mockinterview_dark.svg" style="width: 48%;"/>
        <img src="asset/block/design/mockup_transcriptsummary_light.svg" style="width: 48%;"/>
        <img src="asset/block/design/mockup_transcriptsummary_dark.svg" style="width: 48%;"/>
        <img src="asset/block/design/mockup_category_light.svg" style="width: 48%;"/>
        <img src="asset/block/design/mockup_category_dark.svg" style="width: 48%;"/>
        <img src="asset/block/design/mockup_document_light.svg" style="width: 48%;"/>
        <img src="asset/block/design/mockup_document_dark.svg" style="width: 48%;"/>
    </div>
</div>