<img src="asset/icons/close.svg" alt="Close" width="40px" height="40px" class="overlay__btnClose" />
<div data-load-html data-target="overlayContent" data-url="components/researchaidesign.html" style="width: 300px; height: 100%; display: flex; flex-direction: column; align-items: center; gap: 1rem; padding: 0rem 1rem;">
    <div style="width: 100%; padding: 0rem; background: white; overflow: hidden; border-radius: 8px; flex-direction: column; justify-content: center; align-items: center; gap: 8px; display: inline-flex; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);" data-animate="True">
        <img 
        src="asset/image/prototype.svg" 
        alt="Prototype Preview"
        style="width: 100%; height: 100%; object-fit: contain;
        border-radius: 8px;"
      />
    </div>
    <p class="markdown-body" style="font-size: 12px;"><b>Interact with Prototype</b></p>
</div>
<p class="markdown-body" style="font-size: 10px; position: absolute; bottom: 1rem; right: 2rem;">Upcoming Project | Resume AI</p>
