<div class="button__lock">
    <img  class="icon__button button__img" src="icon/unlock2.svg" alt="Close" width="40px" height="40px" data-trigger data-function="docMode"/>
    <p class="button__label markdown-body" id="lockLabel">Unlocked</p>
</div>

<nav class="index markdown-body">
    <strong>Case Study</strong>
  <ul id="toc"></ul>
</nav>

<div class="doc markdown-body" id="docMarkdown" data-md-src="markdown/doc.md">Doc</div>

<div class="file">
    <div class="file__placeholder" data-trigger data-function="createOverlay" data-parent-id="section2" data-component-path="component/section 2/file/usertype.html">
        <img src="asset/file/user type/usertype.svg"/>
    </div>
    <div class="file__placeholder" data-trigger data-function="createOverlay" data-parent-id="section2" data-component-path="component/section 2/file/persona.html">
        <img src="asset/file/persona/persona.svg"/>
    </div>
    <div class="file__placeholder" data-trigger data-function="createOverlay" data-parent-id="section2" data-component-path="component/section 2/file/journeymap.html">
        <img src="asset/file/journey map/journeymap.svg"/>
    </div>
    <div class="file__placeholder" data-trigger data-function="createOverlay" data-parent-id="section2" data-component-path="component/section 2/file/valueproposition.html">
        <img src="asset/file/value proposition/valueproposition.svg"/>
    </div>
    <div class="file__placeholder" data-trigger data-function="createOverlay" data-parent-id="section2" data-component-path="component/section 2/file/userflow.html">
        <img src="asset/file/user flow/userflow.svg"/>
    </div>
</div>