<div class="section2__column">
  <div class="block block__placeholder" style="background-color: #010C13;" data-trigger data-function="createOverlay" data-parent-id="section2" data-component-path="component/section 2/block/art.html">
    <div class="block block__card" style="background-color: #DBD3D8;">
      <img class="card__image" src="asset/block/art/sketch.jpg" alt="sketch-preview" style="background: #B4B4B4; /* optional background color */"/>
      <div class="card__label markdown-body">Sketches</div>
    </div>
  </div>
  
  <div class="block block__placeholder" style="background-color: #564138;" data-trigger data-function="createOverlay" data-parent-id="section2" data-component-path="component/section 2/block/sekiro.html">
    <div class="block block__card" style="background-color: #F7FFF7;">
      <img class="card__image" src="asset/block/game/sekiro.jpg" alt="game-cover" style="background: #000000; /* optional background color */"/>
      <div class="card__label markdown-body">Achievements</div>
    </div>
  </div>
</div>

<div class="block block__placeholder block__center" style="background-color: #F6F8FA;" data-trigge data-function="createOverlay" data-parent-id="section2" data-component-path="component/section 2/block/resume.html">
  <div class="block block__card" style="background-color: #fff;">
    <div class="card__text markdown-body">MY PORTFOLIO</div>
    <div class="card__label markdown-body">ポートフォリオ - 時間の無駄</div>
    <img class="icon__butto button__down" width="24" height="24" src="asset/block/portfolio/down.gif" alt="icon-down"/>
  </div>
</div>

<div class="section2__column column__third">
  <div class="block block__placeholder" style="background-color: #75ABBC;" data-trigger data-function="playMusic" data-music-src="asset/block/music/nightcall.mp3">
    <div class="block block__card" style="background-color: #D62828;">
      <img class="card__image" src="asset/block/music/music.png" alt="song-cover" style="background: #000; /* optional background color */"/>
      <div class="card__label" style="height: 100%; font-size: 2rem;">▶</div>
    </div>
  </div>
  
  <div class="block block__placeholder" style="background-color: #DFE0E2;">
    <div class="block block__card" style="background-color: #fff;">
      <div class="card__text markdown-body" id="datetime"></div>
    </div>
  </div>
</div>



<style>
  
   .section2{
    height: 100vh;
    padding: 0.5rem;
    gap: 0.5rem;
  }


  .section2__column{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    gap: 0.5rem;
  }


  .block{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: calc(50% - 0.25rem);
      padding: 0.5rem;
      align-items: center;
      justify-content: center;
    }

    .block__placeholder{
      box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
    }

    .block__center{
      width: 50%; 
      height: 100%; 
      align-self: center; 
    }
   
   .block__card {
     position: relative;
     width: 100%;
     height: 100%;
     cursor: pointer;

   }
   
   .block__card:hover {
     transform: scale(1.02);
   }

   .block__card:active{
    transform: scale(1);
   }

   .card__image{
    display: flex;
    width: max-content;
    height: 100%;
    border-radius: 1rem;
    object-fit: contain;
    cursor: pointer;
   }

   .card__text{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem;
    font-size: x-large;
   }

   .time{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;

   }


   .date{
    font-size: small;
    text-align: end;
   }

   .card__label {
     position: absolute;
     bottom: 0;
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: center;
     padding: 1rem 0;
     color: #F6F8FA;
     background: rgba(0, 0, 0, 0.6);
     opacity: 0;
   }
   
   .block__card:hover .card__label {
     opacity: 1;
   }

  .button__down{
    position: absolute;
    bottom: 4rem;
  }

  @media (max-width: 600px) {
      .section2 {
        flex-direction: column;
        height: 100vh;
      }
    }

  @media (max-width: 600px) {
      .section2__column {
        width: 100%;
        height: 50%;
      }
    }

  @media (max-width: 600px) {
    .block {
      width: 100%;
      height: 50%;
    }
  }

  @media (max-width: 600px) {
    .block__card {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 600px) {
    .block__center {
      width: 100%;
      height: 50%;
    }
  }

  @media (max-width: 600px) {
    .column__third {
      display: none;
    }
  }

</style>