<div class="block block__placeholder" data-trigger data-function="createOverlay" data-parent-id="section1" data-component-path="component/section 1/block/art.html">
  <div class="block block__card">
    <img class="card__image" src="asset/block/art/sketch.jpg" alt="image" style="background: #B4B4B4; /* optional background color */"/>
    <div class="card__label markdown-body">Sketches</div>
  </div>
</div>

<div class="block block__placeholder" style="width: 50%;" data-trigger data-function="createOverlay" data-parent-id="section1" data-component-path="component/section 1/block/resume.html">
  <div class="block block__card">
    <div class="card__text markdown-body">MY PORTFOLIO</div>
    <div class="card__label markdown-body">ポートフォリオ - 時間の無駄</div>
  </div>
</div>

<div class="block block__placeholder" data-trigger data-function="createOverlay" data-parent-id="section1" data-component-path="component/section 1/block/sekiro.html">
  <div class="block block__card">
    <img class="card__image" src="asset/block/game/sekiro.jpg" alt="image" style="background: #000000; /* optional background color */"/>
    <div class="card__label markdown-body">Games</div>
  </div>
</div>

<div class="block block__placeholder" data-trigger data-function="playMusic" data-music-src="asset/block/music/nightcall.mp3">
  <div class="block block__card">
    <img class="card__image" src="asset/block/music/music.png" alt="image" style="background: #000; /* optional background color */"/>
    <div class="card__label" style="height: 100%; font-size: 2rem;">
      ▶
    </div>
  </div>
</div>

<div class="block block__placeholder" style="width: 50%;" data-trigger data-function="createOverlay" data-parent-id="section1">
  <div class="block block__card">
    <div class="card__label markdown-body">X</div>
  </div>
</div>

<div class="block block__placeholder">
  <div class="block__card">
    <div class="card__text markdown-body" id="datetime"></div>
  </div>
</div>

