<div class="about">
    <img class="about__image" src="asset/image.jpeg"/>
    <div class="about__content markdown-body" id="aboutMarkdown" data-md-src="markdown/about.md">
    </div>
</div>
<div class="footer">
    <img class="icon__button button__github" src="icon/github.svg" data-trigger data-function="openLink" data-link="https://github.com/V-3114"/>
    |
    <img class="icon__button button__mail" src="icon/mail.svg" data-trigger data-function="copyMail" data-email="yash.swami@proton.me"/>
</div>