<div class="card asset overlay-trigger" data-target="#section2" data-animate>
    <div class="card wrap">
        <img src="asset/image/octo.png" alt="Octo" width="64px" height="64px" />
        <p class="card head">User Type</p>
        <p class="card body">/YOO-zur taip/ noun</p>
    </div>
</div>

<div class="card asset overlay-trigger" data-target="#section2" data-animate>
    <div class="card wrap">
        <img src="asset/image/octo.png" alt="Octo" width="64px" height="64px" />
        <p class="card head">Persona</p>
        <p class="card body">/pər-SOH-nuh/ noun</p>
    </div>
</div>
