<div class="card assetPlaceholder" id="assetPlaceholder" data-animate>
    <div class="card wrap">
        <img src="asset/image/octo.png" alt="Octo" width="64px" height="64px" />
        <p class="card head">Journey Map</p>
        <p class="card body">/JUR-nee map/ noun</p>
    </div>
</div>

<div class="card asset" data-animate>
    <div class="card wrap">
        <img src="asset/image/octo.png" alt="Octo" width="64px" height="64px" />
        <p class="card head">Value Proposition</p>
        <p class="card body">/VAL-yoo prop-uh-ZISH-un/ noun</p>
    </div>
</div>