    <!-- Row 1 -->
    <div class="grid__row" data-row="1">
      <div class="grid__cell grid__cell--highlight overlay-trigger" data-col="1" data-target="#section1" data-animate>
        <p class="grid__cell-text">Designs</p>
      </div>
      <div class="grid__cell" data-row="2"></div>
      <div class="grid__cell grid__cell--highlight overlay-trigger" data-col="3" data-target="#section1" data-animate>
        <p class="grid__cell-text">Vデザイン</p>
      </div>
      <div class="grid__cell" data-col="4"></div>
      <div class="grid__cell" data-col="5"></div>
    </div>
  
    <!-- Row 2 -->
    <div class="grid__row" data-row="2">
      <div class="grid__cell" data-col="1"></div>
      <div class="grid__cell" data-col="2"></div>
      <div class="grid__cell" data-col="3"></div>
      <div class="grid__cell grid__cell--highlight overlay-trigger" data-col="4" data-target="#section1" data-animate>
        <p class="grid__cell-text">Arts</p>
      </div>
      <div class="grid__cell" data-col="5"></div>
    </div>
  
    <!-- Row 3 -->
    <div class="grid__row" data-row="3">
      <div class="grid__cell" data-col="1"></div>
      <div class="grid__cell grid__cell--highlight overlay-trigger" data-col="2" data-target="#section1" data-animate>
        <p class="grid__cell-text">Code Blocks</p>
      </div>
      <div class="grid__cell" data-col="3"></div>
      <div class="grid__cell" data-col="4"></div>
      <div class="grid__cell" data-col="5"></div>
    </div>
  
    <!-- Row 4 -->
    <div class="grid__row" data-row="4">
      <div class="grid__cell" data-col="1"></div>
      <div class="grid__cell" data-col="2"></div>
      <div class="grid__cell" data-col="3"></div>
      <div class="grid__cell" data-col="4"></div>
      <div class="grid__cell grid__cell--highlight overlay-trigger" data-col="5" data-target="#section1" data-animate>
        <p class="grid__cell-text">Games</p>
      </div>
    </div>